<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Ágora</title>
  <%= stylesheet_link_tag "jquery-ui.css", "base", "formtastic", "jquery.tipsy", "uniform.default.css", "themes/activo/style",  :cache => true %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js', :cache => true %>
  <%= javascript_include_tag 'jquery-ui.min', 'jquery_ujs', 'application', 'jquery.tipsy', 'jquery.uniform.min', :cache => true %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Ágora</a></h1>
      <div id="user-navigation">
        <%= current_user.email %>
        <ul class="wat-cf">
          <li><a href="#"><img src="/stylesheets/themes/activo/images/session/home.png" title="<%= t("web-app-theme.dashboard", :default => "Dashboard") %>"/></a></li>
          <li><a href="#"><img src="/stylesheets/themes/activo/images/session/account.png" title="<%= t("web-app-theme.profile", :default => "Profile") %>" /></a></li>
          <li><a href="#"><img src="/stylesheets/themes/activo/images/session/config.png" title="<%= t("web-app-theme.preferences", :default => "preferences") %>" /></a></li>
          <li><%= link_to raw("<img src=\"/stylesheets/themes/activo/images/session/logout.png\" title=\"#{t("web-app-theme.logout", :default => "Logout") }\" />"), destroy_user_session_path, :method => :delete %></li>

        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyleft &copy; <%= Time.now.year %> Ágora.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
