<!DOCTYPE html>
<html>
<head>
  <title>Ágora</title>
  <%= stylesheet_link_tag "jquery-ui.css", "base", "formtastic", "jquery.tipsy", "uniform.default.css", "themes/activo/style",  :cache => true %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js', :cache => true %>
  <%= javascript_include_tag 'jquery-ui.min', 'application', 'jquery.tipsy', 'jquery.uniform.min', :cache => true %>


  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="box">
      <%= yield %>            
    </div>
  </div>
</body>
</html>
